<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand mr-1" href="/landing/"><img src="../assets/img/velocity_logo.png" style="max-width: 220px";>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav">
      {{!-- <li class="nav-item">
        <a class="nav-link" href="/landing/monday">Monday</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/landing/tuesday">Tuesday</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/landing/wednesday">Wednesday</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/landing/thursday">Thursday</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/landing/Friday">Friday</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/landing/Saturday">Saturday</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/landing/Sunday">Sunday</a>
      </li> --}}
      <li class="nav-item">
        <a class="nav-link" href="/logout">Log Out</a>
      </li>
    </ul>
  </div>
</nav>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="display-4">Task List</h1>
        <div>
          <div class="form-group">
            <input id="task-name" class="form-control" data-taskName="taskName" placeholder="Task Title" type="text">
            <textarea id="task-text" class="form-control" placeholder="Task Text"></textarea>
            {{!-- <select class="custom-select" id="task-day">
              <option selected disabled value="">Task Day</option>
              <option>Monday</option>
              <option>Tuesday</option>
              <option>Wednesday</option>
              <option>Thursday</option>
              <option>Friday</option>
              <option>Saturday</option>
              <option>Sunday</option>
            </select> --}}
          </div>
          <button type="button" class="btn btn-outline-secondary" id="addTaskBtn">Add Task</button>
        </div>
        <div>
          <div class="container">
            <div class="row">
              <h2>Tasks To Do</h2>
            </div>
              {{!-- <ul id="tasks" style="list-style-type:none;">
              </ul> --}}
              <div class="row">
                <ul>
                  {{#each tasks}}
                  {{#dataValues}}
                  {{#unless task_complete}}
                  {{> taskstatus/taskstatus task_complete=false}}
                  {{/unless}}
                                   
                  {{/dataValues}}
                  {{/each}}
                </ul>

              </div>

              <div class="row">
                <h2>Completed Tasks</h2>
              </div>
                <div class="row">
                  <ul>
                    {{#each tasks}}
                    {{#dataValues}}
                    {{#if task_complete}}
                    {{> taskstatus/taskstatus task_complete=true}}
                    {{/if}}
                    {{/dataValues}}
                    {{/each}}
                  </ul>

                </div>


              {{!-- <ul id="completed-tasks">
              </ul> --}}

          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h1 class="display-4">Meals</h1>
        <div>
          <div class="form-group">
            <select class="custom-select" id="meal-type">
              <option selected disabled value="">Meal Type</option>
              <option>Breakfast</option>
              <option>Lunch</option>
              <option>Dinner</option>
              <option>Snack</option>
            </select>
            <select class="custom-select" id="food">
              <option selected disabled value="">Select Food</option>
              <option>Apple</option>
              <option>Banana</option>
              <option>Cereal</option>
              <option>Tacos</option>
              <option>Sandwich</option>
              <option>Pizza</option>
              <option>Chocolate</option>
            </select>
            {{!-- <select class="custom-select" id="meal-day">
              <option selected disabled value="">Task Day</option>
              <option>Monday</option>
              <option>Tuesday</option>
              <option>Wednesday</option>
              <option>Thursday</option>
              <option>Friday</option>
              <option>Saturday</option>
              <option>Sunday</option>
            </select> --}}
          </div>
          <button type="button" class="btn btn-outline-secondary" id="addFoodBtn">Add Food</button>
        </div>
        <div>
          <h2>Meal Plan</h2>
          <ul id="meal-plan" style="list-style-type:none;">
            <li>Breakfast</li>
            <li>Lunch</li>
            <li>Dinner</li>
            <li>Snack</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>