<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="../index.html">Velocity</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
  <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="">Calendar</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="">Task List</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="" target="_blank">Shopping List</a>
      </li>
  </ul>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Velocity</h1>
    <p class="lead">In physics, velocity means a change in direction over time. Velocity is an application for setting goals to change the direction of life.</p>
      <button type="button" class="btn btn-secondary btn-lg btn-block">Calendar</button>
      <button type="button" class="btn btn-secondary btn-lg btn-block">Task List</button>
      <button type="button" class="btn btn-secondary btn-lg btn-block">Shopping List</button>
  </div>
</div>
      