      <!-- Navbar -->
         <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="../index.html">Velocity</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="">Calendar</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="">Task List</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="" target="_blank">Shopping List</a>
                </li>
            </ul>
            </div>
          </nav>
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Task List</h1>
              <form>
              <div class="input-group mb-3">  
                <div class="input-group-prepend">
                  <button class="btn btn-outline-secondary" type="button" id="button-addon1">Add Task</button>
                </div>
                <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
              </div>
              </form>
            </div>
            <div class="text-center">

            <h2>Tasks To Do</h2>
                <ul>
                {{#each tasks}}
                {{#unless completed}}
                {{> tasks/task-block completed=false}}
                {{/unless}}
                {{/each}}
                </ul>

                <h2>Completed Tasks</h2>

                <ul>
                {{#each tasks}}
                {{#if completed}}
                {{> tasks/task-block completed=true}}
                {{/if}}
                {{/each}}
                </ul>
            </div>
          </div>
