form.signup,
form.login {
  margin-top: 50px;
}

.taskbutton {
  font-size: 10px;
  font-weight: bold;
  color: white;
  background-color: #26726C;
  border-radius: 12px;
 
}

.vel-text {
  font-family: Roboto;
  color: #314A7B;
  font-weight: bold;
}

.vel-button {
  background-color: #135e58;
  color: white;
}

.navbar-right {
  margin-left: auto;
}